[2016-12-07 17:49] sdaubert opened #1 "Send packet at IP level"
Define Header::IP#to_w to send packets without defining Eth header

[2016-12-07 17:49] sdaubert opened #2 "Send packets at IPv6 level"
Define Header::IPv6#to_w to send packets without defining Eth header

[2016-12-07 17:51] sdaubert opened #3 "Add ICMP and ICMPv6 protocols"
Add protocols:
- ICMP
- ICMPv6
- ~~TCP~~
- ~~ESP~~
- ~~IKE~~

[2016-12-07 19:58] #1 closed

[2016-12-08 19:13] sdaubert opened #5 "UDP: add support for IPv6"
Add Support for UDP over IPv6:
* add binding
* compute UDP checksum with IPv6 pseudo header

[2016-12-08 19:50] #5 closed

[2016-12-10 11:24] #2 closed

[2016-12-10 14:46] sdaubert opened #6 "Add TCP protocol"

[2016-12-10 14:46] sdaubert opened #7 "Add ESP protocol"

[2016-12-10 14:46] sdaubert opened #8 "Add IKE protocol"

[2016-12-10 14:48] sdaubert commented on #3
Open new issues for TCP (#6), ESP (#7) and IKE (#8).
So this issue now focuses on ICMP and ICMPv6

[2016-12-10 14:50] sdaubert commented on #3
TODO:
* [ ] ICMP
* [ ] ICMPv6

[2016-12-10 17:16] sdaubert opened #10 "Header::IPv6#calc_length returns sometimes a wrong result"
`Header::IPv6#calc_length` works well when its body is a String. But when its body is a Struct class, length is not correct.

[2016-12-10 17:18] sdaubert commented on #10
The error is here, in Header::IPv6#calc_length:
[code]
For a Struct class, #length returns number of attributes.
So we must use #sz, but it is not defined in StrucFu::String.

[2016-12-10 17:31] #10 closed

[2016-12-10 18:21] #3 closed

[2016-12-11 18:51] picatz opened #12 "You're Awesome"
## You're Awesome

![awesome](https://cloud.githubusercontent.com/assets/14850816/21082405/c78915ee-bfa8-11e6-9280-cc79387d82ba.gif)

I know this is a weird place I guess, but thank you for working on this project.

[2016-12-11 18:51] #12 closed

[2016-12-11 18:54] sdaubert commented on #12
@picatz  Thank you

[2016-12-15 07:24] sdaubert opened #13 "Header classes: use RFC names for fields"
Rename all fields from header classes which do not use RFC name.

* Eth#proto -> Eth#ethertype
* ARP#hw_type -> ARP#hrd (alias: #htype)
* ARP#proto -> ARP#pro (alias: #ptype)
* ARP#hw_len -> ARP#hln (alias: #hlen)
* ARP#proto_len -> ARP#pln (alias: #plen)
* ARP#opcode -> ARP#op (alias: #opcode)
* ARP#src_mac -> ARP#sha (alias: #src_mac)
* ARP#src_ip -> ARP#spa (alias: #src_ip)
* ARP#dst_mac -> ARP

[2016-12-15 08:50] sdaubert opened #14 "Add documentation to header classes"
* list attributes and their type
* add examples

[2016-12-15 09:01] sdaubert opened #15 "Add a mechanism to declare bit fields in header classes"
Idea:
* struct has a attribute of type Int8/16/32
* use a class method to generate bit fields on the attribute

By example: Header::IP has 2 fields of 4 bits each (`version` and `ihl`)
Header::IP will de declared as:
[code]
This will create getter and setter methods to access `version` and `ihl` in `u8` attribute.

This mechanism will be used to declare:
* 4-bit fields and flags in IP header,
* fi

[2016-12-15 17:54] sdaubert opened #16 "Add copyright notice to all file"

[2016-12-15 18:21] sdaubert commented on #16
Closed by PR #17

[2016-12-15 18:21] #16 closed

[2016-12-15 19:39] #13 closed

[2016-12-15 20:04] sdaubert commented on #6
Closed by PR #19

[2016-12-15 20:04] #6 closed

[2016-12-16 20:02] sdaubert commented on #15
Closed by PR #20

[2016-12-16 20:02] #15 closed

[2016-12-17 15:42] sdaubert commented on #14
Closed by PR #21

[2016-12-17 15:42] #14 closed

[2016-12-18 14:54] sdaubert opened #23 "PacketGen.parse crashes"
PacketGen.parse crashes with message
[code]

[2016-12-18 14:56] sdaubert commented on #23
Fixed in milestone v1.0.0

[2016-12-18 17:52] #23 closed

[2016-12-19 14:36] sdaubert opened #26 "Capture does not start when timeout option is not set"

[2016-12-19 14:50] sdaubert opened #27 "PacketGen.capture raises when no block is given"
Raises ```LocalJumpError: no block given (yield)```

[2016-12-19 15:36] #26 closed

[2016-12-19 15:36] #27 closed

[2017-01-10 14:31] sdaubert commented on #7
Closed by 8cfecf0a

[2017-01-10 14:31] #7 closed

[2017-01-10 14:37] sdaubert opened #29 "Add DNS header"

[2017-01-10 21:15] KINGSABRI opened #30 "Add SNMP 2, 3 headers"

[2017-01-10 21:17] KINGSABRI opened #31 "Add 802.11 headers"

[2017-01-10 21:24] KINGSABRI opened #32 "Create an interactive console"
It would be great to add a binary file that works as an interactive console, something like Scapy console with the elegance of msfconsole way.

What do you think?

[2017-01-11 08:32] sdaubert commented on #32
Adding an interactive console is an interesting idea.
But this is a big job. I already thought about adding a irb or pry console, and kept it in my mind for later.

[2017-01-14 11:43] #29 closed

[2017-01-14 22:52] picatz opened #34 "Make specifying an interface optional."
# Thoughts

When working with PacketFu, I'm able to start capturing packets without needing to specify the interface to use because that is optionally figured out for me if I don't pass in that argument.

For PacketGen, I'm forced to specify the interface to listen on as the first argument. I think this should be moved to the second, optional hash that can be passed in optionally. I think we shoul

[2017-01-15 09:42] sdaubert commented on #34
@picatz Thanks for you proposal. Please make a PR. I will investigate this issue.

[2017-01-21 14:36] picatz commented on #34
OK NOW I'M ACTUALLY GOING TO MAKE THAT PR THIS WEEKEND.

[2017-01-22 08:59] sdaubert commented on #31
Yep, this is in my TODO list.

[2017-02-17 12:21] #31 closed

[2017-02-24 20:28] picatz opened #37 "Killing capture with nmap."
While running this script:
[code]

If I run nmap in another shell:
[code]

I will get ( after a couple of seconds ):
[code]

So, this seems to be tied to the fact that there are invalid packets being sent. Though, I think for the capture, should there be a graceful failure for these things, or an option to fail a little more gracefully and allow capturing to continue even if there's a failure? Per

[2017-02-24 20:31] picatz commented on #37
I could try to work on the PR if you don't have the time to do so. I image some sort of begin/rescue magic in the packet parsing for the capture method? I realize you've put in a whole bunch of work already. Maybe you'll have a better way of working fixing this.

[2017-02-26 15:05] sdaubert commented on #37
I cannot reproduce your test case: after 1 hour, there is no error.
Which version do you use?
V1.4.0 introduces some protocols (Wi-Fi with low level protocols as PPI or RadioTap, which may be instanciated as they are difficult to differentiate from noise).

[2017-02-26 15:44] picatz commented on #37
`Nmap 7.40` and `PacketGen::VERSION 1.4.0`

[2017-02-26 16:09] picatz commented on #37
Give me a little bit and I'll see if I can provide some better context for you.

[2017-02-26 16:40] picatz commented on #37
## When I can't even reproduce my own error
![knows_the_feel](https://cloud.githubusercontent.com/assets/14850816/23341560/de423bf2-fc17-11e6-836b-50b8a4d210ed.gif)

I swear I was able to reproduce this before. I dunno.

_I promise I wasn't trying to waste your time._

If I somehow magically do this again -- um, I guess I'll let you know?

[2017-02-26 19:57] sdaubert commented on #37
OK. I close it. Open it again if you can reproduce it.

[2017-02-26 19:57] #37 closed

[2017-03-02 19:44] #34 closed

[2017-03-09 20:00] #32 closed

[2017-03-26 22:00] picatz opened #41 "pgconsole on macos/osx error"
[code]

The config for pgconsole doesn't seem to be compatible with osx/macos.

### Side Note

You're the best. There's no serious need for me to have this right now, but, I figured I'd let ya' know.

Maybe I can figure it out and make a PR.

[2017-03-27 06:21] sdaubert commented on #41
@picatz I don't known OS X. AF_PACKET is used to get MAC address from an array returned by  `NetworkInterface.addresses`. Is there no Ethernet on OS X ?

[2017-03-27 22:32] picatz commented on #41
I was also relatively confused last night when I made the issue.

However, upon some google'n I seem to have found the Socket constant I want to work with on OSX.

## Socket
### AF_LINK
Link layer interface. Works on osx, and macos stuff.
### AF_PACKET
Direct link-layer access. Works on linux.
#### Example
[code]

## How to Fix

Maybe some sort of method to get the mac address if the other way fai

[2017-03-28 07:35] sdaubert commented on #41
I've made a fix on branch `issue41`. Plesase, could you test it?

[2017-03-28 22:32] picatz commented on #41
The mac address checking worked! But, funny enough, the iface was also not being set properly!

I made a pull request https://github.com/sdaubert/packetgen/pull/42 that works for me.

[2017-03-29 08:46] sdaubert commented on #41
As said [here](https://github.com/sdaubert/packetgen/pull/42/files#r108620016), I cannot accept #42 for now. I have modified current PR to add OS X's loopback interface detection. Does it suit you?

[2017-03-29 12:54] picatz commented on #41
Ah, I see. So I can see that it's now catching my `lo0` loopback by default now.

But, I don't think this really gives me the desired results I'd want for the shell, right? Assumably, it would just load up and be read to rock and roll with my `en0` ( my default ) interface when I pull up `pgconsole`.

In the original code, wasn't it looking originally for the first interface that wasn't `lo`? So,

[2017-03-29 14:16] sdaubert commented on #41
@picatz good point, we don't want to use a loopback interface in the shell.

[2017-03-29 14:22] sdaubert commented on #41
@picatz My last proposal is not good. Forget it...

[2017-03-30 01:06] picatz commented on #41
@sdaubert Hopefully I did this right: https://github.com/sdaubert/packetgen/pull/42/commits/efa5adcba43b6fac02797189f7e7b970edd66dbb

Did the editing on the github website. Haven't done that before. So, I dunno. But, yeah. Works on my end! 😂

[2017-03-30 01:12] picatz commented on #41
Also, I realized I have my debug line still in the pgconsole in those commits.

😅  Should that be removed?

[2017-03-30 07:07] sdaubert commented on #41
@picatz yes, you can remove it by making a new commit ;-)

[2017-03-30 12:56] picatz commented on #41
Removed it: https://github.com/sdaubert/packetgen/pull/42/commits/34f7a498de268a21fe981f66548828307bdcbd91

[2017-03-30 13:10] #41 closed

[2017-04-03 02:41] picatz opened #44 "Read .pcap formatted files"
Sometimes I want to use PacketGen to work with packet captures that may not be in `.pcapng` format. For example, if I dumped stuff with tcpdump and then wanted to work with that capture with packetgen later, it's not exactly straight forward.

Under the hood, I think we could pretty easily have the `.read()` method work with both .pcap and .pcapng files by using PCAPRUB's `.open_offline()` method.

[2017-04-03 06:26] sdaubert commented on #44
@picatz This is a great proposal. In `else` part, I would try to a read a pcapng first, and on exception, thren read a pcap. What do you think about?
Could you propose a PR?

[2017-04-03 15:42] picatz commented on #44
I can put together a PR fo'shizzle ma' bizzle.

[2017-05-01 07:24] picatz commented on #44
Totes gunna do this soon. Promise.

[2017-06-03 21:43] picatz commented on #44
@sdaubert Finally did a thing. https://github.com/sdaubert/packetgen/pull/45

[2017-06-04 15:35] sdaubert opened #46 "remove old `PacketGen::Capture#initialize` API"

[2017-06-04 15:45] sdaubert commented on #44
#45 was merged

[2017-06-04 15:45] #44 closed

[2017-06-04 16:08] sdaubert commented on #44
also did a new gem (v1.4.3)

[2017-06-04 18:39] sdaubert commented on #8
Merged in #47

[2017-06-04 18:39] #8 closed

[2017-06-04 18:47] sdaubert commented on #46
Fixed in 55c43ff2

[2017-06-04 18:47] #46 closed

[2017-07-11 09:15] qingxp9 opened #50 "add send broadcast support"
when I set the dst to "255.255.255.255",
have the error:
[code]

[2017-07-11 17:01] sdaubert commented on #50
You have to set broadcast on link layer too. Use this in `pgconsole`:
[code]

`pgconsole` offers you a config object containing some useful information such as: ethernet address, IP address and IPv6 address of your first ethernet interface.

[2017-07-12 09:09] qingxp9 commented on #50
Thanks, I get it.
It works.

[2017-07-12 16:06] sdaubert commented on #50
OK. I close this issue. Reopen it if you have others troubles related to this issue.

[2017-07-12 16:06] #50 closed

[2017-08-05 16:18] picatz opened #51 "Capture Syntax in README"
Hey Sylvain, hope you're doing well!

I felt the need to mess around with packetgen some more this weekend. I really like this project and I use it quite often!

**As a side note**: I'm sort of curious to try and translate the programming logic from this gem to the [Crystal](https://crystal-lang.org/) programming language. If you haven't heard of that project, I think you should check it out!

# R

[2017-08-05 17:00] picatz opened #52 "Capture Timeout"
## The Issue
For the [`.start`](https://github.com/sdaubert/packetgen/blob/master/lib/packetgen/capture.rb#L83) method when using the `Capture` class, a [`@pcap`](https://github.com/sdaubert/packetgen/blob/master/lib/packetgen/capture.rb#L85) instance variable is created using PCAPRUB's [`open_live`](https://github.com/pcaprub/pcaprub/blob/340c88d05cea29ee6d711563264bd2f5a2a4878c/ext/pcaprub_c/pca

[2017-08-05 17:16] sdaubert commented on #51
Fixed in 1a00dde. Documentation was not updated.
Thanks.

[2017-08-05 17:16] #51 closed

[2017-08-05 17:17] picatz commented on #52
## Made Pull Request
My PR has been submitted: https://github.com/sdaubert/packetgen/pull/53

[2017-08-05 17:18] picatz commented on #51
Sweet 👍

[2017-08-05 17:24] sdaubert commented on #52
From pcap_open_live(3PCAP):

But, with a value of 1, this method never returns. This is why timeout is managed through a thread.
Perhaps PCAPRUB handles this value differently than said in C library manual page

[2017-08-05 17:51] picatz commented on #52
More likely the case I was was misunderstanding how the timeout was being used. 🤣

[2017-08-05 17:51] #52 closed

[2017-08-11 13:18] sdaubert commented on #30
Closed in ac302ba

[2017-08-11 13:18] #30 closed

[2017-10-14 15:18] Beyarz opened #54 "Gem install runtime error"
ProNoScope2:~ bayar.nahro$ gem install packetgen
Building native extensions.  This could take a while...
ERROR:  Error installing packetgen:
        ERROR: Failed to build gem native extension.

    current directory: /Users/bayar.nahro/.rvm/gems/ruby-2.4.2/gems/pcaprub-0.12.4/ext/pcaprub_c
/Users/bayar.nahro/.rvm/rubies/ruby-2.4.2/bin/ruby -r ./siteconf20171014-32877-1wibpka.rb extconf.rb

[*] Ru

[2017-10-15 18:13] sdaubert commented on #54
This problem is related to pacprub gem, a dependency of packetgen.

I don't know OS X, but after googling a little:
[code]
For more info: https://www.google.com/search?dcr=0&q=xcrun%3A+error%3A+invalid+active+developer+path

[2017-10-15 18:13] #54 closed

[2017-10-23 06:15] KINGSABRI opened #55 "Sending Deauth packet"
Hello guys
I see you have done a tremendous work in `packetgen` however I believe that more examples are needed for each header to use.

I was looking for sending Dot11 DeAuth packet and I couldn't make it using the available docs.

My suggestion is to make one or more practical example for each header as you've done with [manipulate packets](https://github.com/sdaubert/packetgen#easily-manipulate

[2017-10-23 16:10] sdaubert commented on #55
There are more examples in API documentation.  See http://www.rubydoc.info/gems/packetgen/PacketGen/Header/. But, infortunately, there is no example for Dot11::DeAuth.

I'm currently working on making a better documentation (see wiki). Dot11 classes will be done with high priority.

[2017-10-23 16:18] picatz commented on #55
**Not off topic**: @sdaubert Is probably one of my favorite developers ever. ❤️

[2017-10-23 18:39] sdaubert commented on #55
@KINGSABRI Dot11 is quite special in PacketGen. You have to instanciate a subclass (here a `Dot11::Management`) to use it. And Management frames may contain multiple sub-headers. So, to generate a simple DeAuth packet:

[code]

You also may want to add radio header:

[code]
Before sending such a packet on wire, don't forget to compute checksum:

[code]

[2017-10-25 07:59] KINGSABRI commented on #55
Hello @sdaubert
I've tried both and didn't work

[code]

I've tested the same scenario with `scapy` and it works, the client has been disconnected.
[code]

[2017-10-25 08:13] KINGSABRI commented on #55
Another case I'm working on is create a fake beacon as in scapy
[code]
but in PacketGen
[code]
I'm getting
[code]

I'm trying to add more Elements to the Beacon

[2017-10-25 09:22] KINGSABRI commented on #55
Well after more and more troubleshooting in case #1 (Deauth) I found that there is nothing has been sent to the wire!
I ran Wireshark with filter (`(wlan.fc.type == 0)&&(wlan.fc.type_subtype == 0x0c)`)  and I've got nothing captured

[2017-10-25 16:44] sdaubert commented on #55
@KINGSABRI I think nothing has been sent on wire because RadioTap header is not set. But, it seems to me you don't need to add a RadioTap header: driver should do it for you.

Unfortunately, I can't verify that : my laptop is broken and I have no wifi on my PC.

[2017-10-25 17:00] sdaubert commented on #55
@KINGSABRI about Elements.

Well, Elements are not headers. And i do nothing to help using them. You have to instanciate and add them by hand:
[code]

Thanks to you, I see that I have still some work 😃 :

[2017-10-26 07:24] KINGSABRI commented on #55
I followed your code but getting error
[code]

my code
[code]

[2017-10-26 07:56] KINGSABRI commented on #55
You've done a great job already, man.
Just you need people to test and report more issues and write more protocols.

I believe you need
- better documentation (actually, practical / example documentations)
- More protocol
- Focus on keep things simple to use. Things like element could be easier, like
[code]
Or
[code]

[2017-10-26 16:09] sdaubert commented on #55
Yes, I planned something like that yesterday.

[2017-10-26 16:14] sdaubert commented on #55
As I have no mean to test, please could you test, on erroneous line:
[code]
instead of
[code]

FCS is already computed by `#calc_checksum`, so this code is useless.

[2017-10-26 19:08] KINGSABRI commented on #55
@sdaubert Good news and bad news
The good news is, after I changed what you advise, it started to sending packet
The bad news is it's **malformed** packet something like invalid packet
Note: I used
[code]
No RadioTap

[2017-10-26 19:21] KINGSABRI commented on #55
regarding to the creating a fake [beacon](https://github.com/sdaubert/packetgen/issues/55#issuecomment-339250997) , nothing changed, no packets sent

[2017-10-27 20:19] KINGSABRI commented on #55
I've done that, my wireless is `mon0` and I've added `pkt.to_w(mon0)`

I tried it on both scenarios

[2017-10-28 06:39] sdaubert opened #56 "cannot send a Dot11 packet"
From #55:

[code]

Nothing is sent

[2017-10-28 06:40] sdaubert commented on #55
@kingsabri i have opened a new issue for this problem : #56

[2017-10-30 17:38] sdaubert commented on #56
@KINGSABRI I did a test:
[code]

I did a capture with wireshark (`-y` needed to force dot11, else all frames were captures as ethernet frames):
[code]
This packet is captured by wireshark, without error. There is a limit on this test: wireshark is run on same PC as packet emitter.

[2017-10-30 19:46] sdaubert commented on #55
Doc has been updated.

See https://github.com/sdaubert/packetgen/wiki/wifi. API documentation has also been updated (not yet available on http://www.rubydoc.info/gems/packetgen/PacketGen/Header/Dot11.html, will be on next release)

[2017-10-30 19:46] #55 closed

[2017-11-01 00:33] KINGSABRI commented on #56
packets sent but still getting malformed packet

![image](https://user-images.githubusercontent.com/1071827/32254918-27fba5a2-beb5-11e7-99e6-97e95fc5eadd.png)

So no AP has shown when searching for new wifi networks

[2017-11-01 00:55] KINGSABRI commented on #56
Can we add an argument to `#to_w` to how the number of times to send and interval? instead of writing a loop
eg.
[code]

[2017-11-01 01:19] KINGSABRI commented on #56
Another good news is, DeAuth is working as well

[code]

[2017-11-01 09:29] sdaubert commented on #56
@KINGSABRI about malformed packet: PacketGen always sets a FCS. To make my packet acceptable by wireshark, i had to check 'Assume packets have FCS' in Protocol Preferences.

Sending without RadioTap header:
![capture du 2017-11-01 10-27-46](https://user-images.githubusercontent.com/964388/32268440-5da70af4-beef-11e7-93bb-d5d08693bc85.png)

RadioTap header is marked as invalid in wireshark, but all

[2017-11-01 09:43] KINGSABRI commented on #56
I see

Did you see the fake AP? because without RadioTap, I could not see it

[2017-11-01 09:44] sdaubert commented on #56
I tried with a RadioTap header, and I have same result (without invalid RadioTap).

To conclude, i think I need another wifi receiver with wireshark.

[2017-11-01 09:45] sdaubert commented on #56
@KINGSABRI no, as i have no other wifi receiver to check AP.

[2017-11-01 09:46] KINGSABRI commented on #56
I'm using
Alfa and I put it in monitoring mode

your mobile is more than enough

[2017-11-01 10:02] sdaubert commented on #56
I already tried with my mobile, but I saw no SSID, with and without RadioTap header.

[2017-11-01 10:05] KINGSABRI commented on #56
Maybe putting the interface in monitoring mode is needed?

[2017-11-01 19:18] sdaubert commented on #56
@KINGSABRI By adding a Rates element, i can reproduce it: with RadioTap, my mobile phone see beacon frames, but without it, SSID is not detected.

Need of RadioTap header to send Dot11 packet on the air is added in wiki. Will be added in Dot11 documentation too.

[2017-11-01 19:18] #56 closed

[2017-11-01 22:52] picatz commented on #56
@KINGSABRI + @sdaubert : This is was an *awesome* issue to follow! I can't wait to try out ya'lls findings and build some wifi-hacking tools with ruby! 👏

Ya'll the best. 🙇

[2017-11-07 18:30] KINGSABRI opened #57 "Contributing to wiki"
There is no real  easy way to contribute to wiki
here is my initial proposal
https://github.com/KINGSABRI/packetgen-wiki/tree/master

[2017-11-07 19:12] sdaubert commented on #57
That's a great start!

As for me, I was thinking about `Getting started`, which is in your proposal.

About wiki contribution, there seems to be only one solution: patches by email 😢

[2017-11-07 19:35] KINGSABRI commented on #57
no problem for me, give me your email I'll send you my work once I've some

[2017-11-07 19:47] KINGSABRI commented on #57
Ok another idea instead of the email is, great a new repository name it PacketGen-Wiki
and we can contribute to it, then you can copy these changes by yourself to the main wiki

[2017-11-08 06:33] sdaubert commented on #57
Yes, I saw that yesterday while i'm googling. I think this repo will ease contribution to wiki. I'll do that this evening.

[2017-11-08 18:30] sdaubert commented on #57
Here it is: https://github.com/sdaubert/packetgen-wiki

[2017-11-08 18:30] #57 closed

[2017-11-10 01:34] KINGSABRI opened #58 "Add SNMP headers"

[2017-11-10 01:35] KINGSABRI opened #59 "Add HTTP headers"

[2017-11-10 01:35] KINGSABRI opened #60 "Add DHCP headers"

[2017-11-10 01:35] KINGSABRI opened #61 "Add TFTP headers"

[2017-11-10 02:43] KINGSABRI opened #62 "Add FTP headers"

[2017-11-10 03:05] KINGSABRI opened #63 "make #recalc within #to_w"
Hello there, the title says it all
Why do we need to call `recalc` manually?
we can make it called by default or add it as an option to `to_w` in case someone want to send it without calculation(no idea when someone needs that) to be something like

[code]

Also, I hope we can add number of packets to be sent

[code]

[2017-11-10 07:05] sdaubert commented on #58
Already done, since 2.0.0

[2017-11-10 07:05] #58 closed

[2017-11-10 07:09] sdaubert commented on #63
#calc should be done manually to allow sending erroneous packets on network. This is used, by example, to test or stress network devices.

I may add `recalc` option to  `#to_w`, but its default value will be `false` to keep compatibility.

About number of packet : OK, but we need the number of packet to send and an interval between them (with a default value for the latter)

[2017-11-10 10:10] KINGSABRI commented on #63
Agreed, that's a good solution

defaults: number of packet: 1, interval: 0

[2017-11-11 10:00] #63 closed

[2017-11-11 10:14] sdaubert commented on #59
PacketGen targets at parsing and generating binary protocols. And there is already plenty of ruby  HTML parser which do the job, and better than PacketGen will.

So, this will not be done.

[2017-11-11 16:35] picatz commented on #59
@sdaubert Forgive me if I don't know what I'm talking about: but, I think targeting something like **[HTTP 1.1](https://developer.mozilla.org/en-US/docs/Web/HTTP/Overview)** would be an awesome feature for packetgen!

I could even try to implement it myself. Not terribly sure how successful I'd be / don't know everything about it. But I'd love this feature which some other parsers like [nDPI](http

[2017-11-11 17:11] sdaubert commented on #59
@picatz If you want to do it, don't hesitate. I rejected this proposal because I don't want to do it, but if someone else wants, that's not a problem.

But, if you do it, don't forget to also make generator part.

And, please, don't forget specs.

What do you think about that?

[2017-11-11 17:59] picatz commented on #59
@sdaubert This could be a good compromise. 👍

Truthfully, I am not fully confident in how to implement this yet.

I will probably have some more time to work on this tonight / tomorrow. I will have to go over your previous commits of adding other protocols to see how it works. And [then go back over the wiki](https://github.com/sdaubert/packetgen/wiki/Create-Custom-Protocol) to understand adding a

[2017-11-12 08:53] sdaubert commented on #59
@picatz the wiki won't help, as it explains how to implement a binary protocol. I thin you will have to start from a blank sheet.

Nevertheless, you have to implement a minimal set of methods to be compatible with `Packet#parse`:
* `packet` attribute,
* `.protocol_name` and `#protocol_name`,
* `#method_name`,
* `#parse?`,
* `#packet=`, only if you need `#added_to_packet`,
* `#read`, which really d

[2017-11-12 17:43] picatz commented on #59
@sdaubert I am working on the HTTP 1.1 implementation today.

Right now I've got a **_really simple_** implementation going like so:

[code]

I understand this **isn't done by any means**. But, I'm working on it 👍

## Binding the HTTP Header
I think I need to figure out how to bind to a TCP header correctly.

Because right now I'll end up picking up non-HTTP (TCP) requests leading up to the actual

[2017-11-12 18:17] picatz commented on #59
Playing around with it some more -- hopefully all today. But I wanted to give an update just in case @KINGSABRI also wanted to work on this, so I wanted to share:

### HTTP REQUEST
This seems to be a decent-ish, simple [HTTP Request](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html) TCP header binding using a Proc.
[code]

[2017-11-12 18:26] picatz commented on #59
And, _for just a bit of clarification_, I do plan on breaking down the actual HTTP request/response headers. It would probably be to end up breaking them up into their respective types instead of just one `http` header type?

I'm just using the `self[:all] = str` for the `#read` method to act as a simple catch-all because it's easier to do that for now.

I'm also not terribly sure on what to name

[2017-11-12 19:57] sdaubert commented on #59
[code]
That should work, i.e. it should parse a HTTP header when TCP dport or sport is set to 80.

You may create a base HTTP class which demultiplex on parsing to specialized classes (by example HTTP::Request and HTTP::Response). Have a look at EAP or Dot11 for examples.

[2017-11-12 20:18] picatz commented on #59
@sdaubert Maybe this would be better for the request header type:

[code]

I don't want to catch all of the stuff that hits port 80 since some of it isn't sending any HTTP data to parse, just doing your typical TCP stuff to connect from what I can tell.

## HTTP Demultiplex
 I'll try to follow what you did with `EAP` or `Dot11`, like you said. 👍

[2017-11-12 21:50] picatz commented on #59
@sdaubert, @KINGSABRI I think you're gunna like this, even if I'm not done:

[code]

I like the idea of presenting the headers as a hash. It feels the most natural thing to do in pry.

Also...

[code]

So, I'm thinking I'm going to be able to do this! 🤘

[2017-11-12 22:46] picatz commented on #59
#### Unnecessary Update
* Fight for 20 minutes with my code. 😟
* Realize my `bpf` filter is set to just look for outgoing requests. 📤
* Realize I should have a snack. 🇭🇺
* Haz snacked. 🍬
* Ready to get the `HTTP::Response` class knocked out. 😼
* Should actually `commit` something to my fork. 🤔
* Yolo 😹

[2017-11-12 23:12] picatz commented on #59
@sdaubert How do we ( or, **_can_** we ) handle streaming responses in PacketGen?

I can do something like just match for the first portion of a streaming HTTP response from a server. But, if I want to identify each following packet in the stream, is there an easy way to do this?

[2017-11-12 23:21] picatz commented on #59
I guess don't really mind....

 But, it _won't_ serialize **everything** in a streaming HTTP response. I guess it would require PacketGen to be something like a _stateful_ packet parser and be able to follow the different streams that can happen when parsing -- which could be out of scope / or be a separate project maybe?

## HTTP Response Example
[code]

[2017-11-13 03:08] picatz commented on #59
Yooooo I think I did itttttt.

## HTTP Request Example
[code]

## HTTP Response Example
[code]

[2017-11-13 03:33] picatz commented on #59
Working on the PR now to hopefully ensure it merges without too many problems.

[code]
For a simple test:
[code]

Get yo'self a `HTTP::Request` header.
[code]

Get yo'self a `HTTP::Response` header.
[code]

[2017-11-14 02:20] picatz commented on #59
Will go about fixing the problems @sdaubert pointed out in my PR https://github.com/sdaubert/packetgen/pull/64 as soon as I can. Hopefully by this weekend. 👍

[2017-11-18 19:36] picatz commented on #59
Working on the problems today. Hopefully I can get them all sorted out. 👀

[2017-11-19 00:29] picatz commented on #59
To keep this section updated as well, for whoever may be interested. Closed https://github.com/sdaubert/packetgen/pull/64 and then opened https://github.com/sdaubert/packetgen/pull/65 🙈

[2017-11-20 17:56] sdaubert commented on #59
Fixed by #65

[2017-11-20 17:56] #59 closed

[2017-11-20 21:03] picatz commented on #60
I'm definitely looking forward to this feature! 👍

[2017-11-20 21:43] sdaubert commented on #60
Fixed by #66

[2017-11-20 21:43] #60 closed

[2017-11-29 15:39] sdaubert commented on #61
Will have a look in december

[2017-11-29 18:48] picatz commented on #61
@sdaubert Awesome! 🤘

[2017-12-13 18:28] sdaubert commented on #61
Fixed in ff985080

[2017-12-13 18:28] #61 closed

[2017-12-13 18:49] sdaubert commented on #62
I had a look at FTP RFC:
* Commands are text-based. PacketGen is not well suited for this kind of protocol.
* This protocol is very (too?) complex.

This protocol will not be supported by PacketGen.

[2017-12-15 02:34] picatz commented on #62
@sdaubert I totally respect your choice not not implement this!

But, specifically, if you don't mind explaining it for me a bit more in depth: what's the complex part about the FTP protocol?

**I don't want to waste your time.** So I don't mind just doing it for my own learning if you don't ever want it in the main branch. But, I'm sort of _perhaps genuinely naively_ thinking it could be cool to

[2017-12-15 17:22] sdaubert commented on #62
@picatz Feel free to try. If your implementation comes with specs and a good coverage, it will be merged.
But I have no time for this. So, you should have less support (from me) than you had for HTTP implementation.

[2017-12-16 21:25] picatz commented on #62
@sdaubert No worries. We'll see if I end up being able to implement this. 😹

[2018-04-01 18:37] KINGSABRI opened #74 "SMBv1/2/3"
This great gem messes SMB protocol

[2018-04-01 19:09] picatz commented on #74
SMB would be an awesome addition 👍

[2018-04-02 16:54] sdaubert commented on #74
Yes, I think so :smile:
I will look at it.

[2018-04-07 19:52] sdaubert commented on #74
From my readings, there really are only 2 versions of the protocol (ie from packet format view):
* CIFS/SMBv1
* SMB 2 (supports dialects SMB 2.x and SMB 3.x)

[2018-04-09 15:57] picatz commented on #74
Cool! 🎉

[2018-06-18 15:43] picatz opened #76 "default capture device doesn't exist on macOS"
👋 Hello @sdaubert, I really hope you're doing well!

This morning I decided to run `rspec` on this repository and came across an error on macOS:
[code]

I believe this to be attributed to [the default capture interface](https://github.com/sdaubert/packetgen/blob/master/lib/packetgen/capture.rb#L48) `lo`. On macOS, perhaps at the very least on my laptop, the loopback interface is named `lo0`.

## I

[2018-06-18 18:30] sdaubert commented on #76
hey! that's a great gem :tada:

I will have a look at it, when i will have some time :confused:

[2018-06-18 18:36] picatz commented on #76
Thanks! 🙇

If you are interested, I can spend some time this week replacing `network_interface` with `interfacez`.

[2018-06-19 17:57] sdaubert commented on #76
Yes, this could help.

[2018-06-20 18:19] picatz opened #78 "http parser can't handle invalid byte sequences"
For whatever reason, I ended up writing my own HTTP parser. So, of course, there would be bugs. 😂

I need to submit a fix to handle these kinds of cases. It could look something like this:
[code]

Unless @sdaubert has a better way of handling this invalid encoding problem.

[2018-06-20 18:30] picatz opened #79 "Add Link-Local Multicast Name Resolution (LLMNR) header."
Adding support for [LLMNR](https://en.wikipedia.org/wiki/Link-Local_Multicast_Name_Resolution) could be nice to have in the future. 👍

[2018-06-20 19:01] picatz opened #80 "Add Multicast DNS header"
Adding support for [mDNS](https://en.wikipedia.org/wiki/Multicast_DNS) could be nice to have in the future. 👍

[2018-06-20 19:20] sdaubert commented on #78
@picatz what is this `\xD1` at the end of he first string? Should it be there?

Another point: when parsing, packetgen forces binary encoding. If you expect UTF-8, you may force encoding of TCP body:

[code]
But i am doubtful this will solve your problem, as there is only on byte out of encoding.

[2018-06-20 20:01] picatz commented on #78
@sdaubert The `\xD1` is actually from a real-world TCP packet body I sniffed using PacketGen.

I've been trying to collect examples of failed packets I've noticed while capturing, and the example came up during that collection.

As for `#force_encoding`, that method doesn't seem to solve the problem -- even though I wish it did.
[code]

🤷‍♂️  But, as I showed before, this works:
[code]

[2018-06-21 18:05] picatz opened #82 "Add Dropbox LAN Sync Discovery (DB-LSP-DISC) header"
The [Dropbox LAN Sync Discovery Protocol (DB-LSP-DISC)](https://www.dropbox.com/help/syncing-uploads/lan-sync-overview) would be nice to have in the future.

While I haven't done this yet, I think it would be pretty trivial to implement since it just  seems to just be a typical UDP communication on port `17500` with a JSON payload (plaintext).

[2018-06-21 18:10] picatz opened #83 "Add Discovery and Launch (DIAL) header"
The [DIAL](http://www.dial-multiscreen.org/home) (Discovery and Launch) protocol would be an interesting protocol to support in the future. 👍

Not sure how easy or hard it would be. [According to Wikipedia](https://en.wikipedia.org/wiki/Discovery_and_Launch) is utilizes [UPnP](https://en.wikipedia.org/wiki/Universal_Plug_and_Play), [SSDP](https://en.wikipedia.org/wiki/Simple_Service_Discovery_Prot

[2018-06-21 19:31] sdaubert commented on #83
This is a protocol stack. Packetgen is only able to handle individual protocols.

UPnP is itself a protocol stack build on SSDP and SOAP (and maybe even others protocols).

SSDP is a text protocol over HTTP, and, although HTTP is supported by Packetgen (thanks to you @picatz), I still think Packetgen is not the good framework to handle text protocols.

Thanks @pictaz for your interest on packetgen

[2018-06-21 19:35] sdaubert commented on #82
@picatz what will be the interest of adding this protocol over using:

1. packetgen to capture/build UDP packets on port 17500,
2. a json library to parse/build JSON structure?

[2018-06-21 19:35] #83 closed

[2018-06-21 19:56] picatz commented on #82
@sdaubert I like using PacketGen to help get an idea of the kind of traffic on a network. It's practically my favorite packet analyzer!

If I didn't know this was Dropbox, I would have to go through "the trouble" to figure it out.

Wireshark supports this protocol, which was how I initially figured out what it was. However, I like doing all of my network-related reconnoissance on the command-line

[2018-06-21 20:01] picatz commented on #83
@sdaubert No worries, thank you for looking at this issue! I appreciate the clarification on the issue of DIAL being a protocol stack. 🙇

[2018-06-21 20:55] KINGSABRI opened #84 "Make Gitbook based Wiki"
Hello @sdaubert

As PacketGet is getting more awesome, the wiki is not synced with the lib.

You can create a repository like "packetgen_docs" and connect [Gitbook](http://gitbook.com) to it so people either can PR to the wiki on github (it will be synced with gitbook once merged) or, you can add people you trust as writers to the gitbook space or both

What do you think?

[2018-06-22 13:14] picatz commented on #84
I really like Gitbook. 👍

[2018-06-25 18:57] sdaubert commented on #76
@picatz may you add a method to get hwaddr (ie MAC address) on a given interface? This should help to replace NetworkInterface by Interfacez.

[2018-06-25 19:02] picatz commented on #76
@sdaubert I think I should be able to implement that. 👍

[2018-06-26 14:02] picatz commented on #76
@sdaubert Got those issues addressed. Going to release new gem version. 🎉

[2018-06-26 16:59] sdaubert commented on #76
Should be fixed by #85

[2018-06-26 16:59] #76 closed

[2018-06-26 17:17] picatz commented on #76
@sdaubert That's awesome! 🎉 ❤️ ✨

[2018-06-26 18:17] sdaubert commented on #84
@KINGSABRI There is already a git repo for wiki at https://github.com/sdaubert/packetgen-wiki to handle github wiki. People may already PR to it, or I alreay may add people as contributors. What Gitbook will give more? I don't known it, so I hesitate to learn how to use a new tool.

[2018-06-27 12:03] KINGSABRI commented on #84
@sdaubert

Exactly, you connect this repository to gitbook and it will be bi-directional synced whether you accept PR on github or add a `writers` to gitbook to write without PR but with version control on gitbook(will be synced with github too).

Will give a great presentation and well organized documentation for PacketGen, I don't know about your vesion about this library but I look at it as the

[2018-06-27 16:49] #78 closed

[2018-06-27 16:53] sdaubert commented on #84
Thanks a lot :smiley:

[2018-06-27 16:59] sdaubert commented on #84
@KINGSABRI

Ok. Add you as a collaborator to packetgen-wiki?

[2018-06-27 17:51] KINGSABRI commented on #84
@sdaubert yes, please and I'll set this up once you give collaborator permission to write on it. Gitbook will sync with the wiki repository

[2018-06-27 20:45] KINGSABRI commented on #84
@sdaubert the following message appears when trying to integrate the repository with gitbook
![image](https://user-images.githubusercontent.com/1071827/41998635-e47cadf6-7a63-11e8-828c-634eef1a8b4b.png)

I need administrative writes on it

[2018-06-28 00:08] picatz commented on #84
@KINGSABRI Could you make a fork of packetgen and keep an up-to-date version of it for the GitBook synchronization?

This may require a bit more setup, but it would be a work around if @sdaubert doesn't want to give you ( or even myself for that matter ) administrative rights (read/write I guess?) at this point in time to PacketGen. I'm cool with it personally, don't get me wrong of course. Just t

[2018-06-28 06:08] sdaubert commented on #84
@KINGSABRI I cannot set you others permissions than push one. Maybe because this is a personnal repo...

I will have a look at gitbook tonight.

[2018-06-28 17:34] sdaubert commented on #84
Gitbook asks me my phone number to "confirm" my account. Furthermore, it seems they do not respect their privacy statement (as phone number is not cited in, and you have to record a phone number to process).

No way for me to open an account there :angry:

[2018-06-28 17:34] #84 closed

[2018-06-28 17:57] picatz commented on #84
@sdaubert Thanks for trying though! 😅 🙏

@KINGSABRI I guess the fork option might have to do? 🤔

[2018-06-28 22:32] KINGSABRI commented on #84
LOL, I never faced this, I believe you can register with **Github** account or **Google** account, have you tried that?

If @picatz suggestion suits you, I'll do it and add you to the fork as a collaborator.

[2018-06-29 06:18] sdaubert commented on #84
I tried with my github account (and without) and a phone number is needed... And no google account for me: i am trying to keep control of my personnal data.

@KINGSABRI no problem about @picatz suggestion.

[2018-06-29 10:48] KINGSABRI commented on #84
@sdaubert @picatz I've added you both as collaborators on my fork (restructured for gitbook)

@sdaubert look at that (https://packetgen.gitbook.io/wiki/) editing this from gitbook so elegant.

I beilve all protocols has to has use cases to make it really elegant

[2018-06-30 14:21] #80 closed

[2018-06-30 16:02] picatz commented on #80
@sdaubert Awesome! 🎉 🙌 🎈 🔥 🍻 💃 😹 🕺

[2018-07-02 16:11] KINGSABRI opened #86 "Build an SNMP"
Hello there, if you have seen [this](https://github.com/packetfu/packetfu/issues/76) issue. I tried to use packetgen to do so but I could do it using the current documentation

Scapy version
[code]

tried
[code]
and
[code]

I believe my issue that I couldn't understand how to assign the PDU details

- I guess `SNMPset == SetRequest` from scapy
- how to set varbindlist details
- SNMPvargind details

[2018-07-02 16:36] picatz commented on #86
Started looking at this issue for fun. This is some code using scapy to help dissect the problem.
[code]

[2018-07-02 16:56] picatz commented on #86
I seem to be getting somewhere using [this](https://github.com/sdaubert/packetgen/wiki/SNMP) and [this](https://github.com/sdaubert/packetgen/blob/d84d49af66ec22a872c08c5ad3e49b275c9de22e/spec/header/snmp_spec.rb).

[code]

[2018-07-02 17:03] picatz commented on #86
I have a hunch I may not be doing the `oid=<ASN1_OID['.1.3.6.1.4.1.9.2.1.55.192.168.30.10']>` part right when translating to Ruby, but I think @sdaubert will know how. 🙏

[2018-07-02 17:19] picatz commented on #86
To help debug the issue further I used `wrpcap('example.pcap', pkt)` with scapy, and see this in Wireshark:
<img width="828" alt="screen shot 2018-07-02 at 1 13 34 pm" src="https://user-images.githubusercontent.com/14850816/42177189-d740c020-7df9-11e8-80f0-4d0e7fe8048d.png">

[code]

[2018-07-02 17:39] picatz commented on #86
Working my way backwards with the pcap I generated with scapy, I've gotten this @KINGSABRI 👍

[code]

[code]
[code]

There's only one weird thing I see where the `value` from scapy is `"\x04\x12pwnd-router.config"`, where the `\x04\x12` doesn't show up in Ruby. 🤷‍♂️

[2018-07-02 17:49] picatz commented on #86
Looking at the `SNMP` layer in python with scapy to figure out the `\x04\x12` part...
[code]

I wonder if it's some sort of property of being an `ASN1_STRING`? 🤷‍♂️

[2018-07-02 18:18] sdaubert commented on #86
@picatz wouh! You are too fast for me.

@KINGSABRI my only add: a VarBind object (kind of items in VariableBindings object) is a sequence of an ObjectId and another type, which depends on object id. The ` VariableBindings#<<` operator knows how to transform a dotted string to an OID. That's why @picatz suceeded to add this OID. But, the value has no specified type, so `#<<` has no transform. It se

[2018-07-02 18:19] picatz commented on #86
I must be very close / I wonder if it works.
### Scapy Generated Packet ( shown in Packetgen )
[code]
### PacketGen Generated Packet ( shown in Packetgen )
[code]

[2018-07-02 18:21] picatz commented on #86
Thank you for the explanation @sdaubert 🙏 ❤️

[2018-07-02 19:37] KINGSABRI commented on #86
@picatz you're crazy fast, touch wood!
@sdaubert I don't know why I got confused from documentation or maybe because accessors were explained in the [GetRequest](https://packetgen.gitbook.io/wiki/protocols/snmp#snmp-getrequest-class) part
Do you think more `@example` in code docs would help?

@sdaubert isn't the `value` attribute has to be/translated to `RASN1::Types::OctetString` by detault?
fina

[2018-07-03 17:48] sdaubert commented on #86
It can't as its type depends on OID. It may be an integer, a float, a bit string, or even a more complex type (ie one defined by a sequence or a set).

It is not. For now, chosen value from type cannot be set when adding a SNMP header (but it could). The difficult part is setting the varbindlist.

[2018-07-03 18:12] sdaubert commented on #86
@KINGSABRI it should be possible to set varbindlist from new, but I have to update RASN1 first.

[2018-07-04 18:54] KINGSABRI commented on #86
@sdaubert tested and it works, you're awesome!

[2018-07-06 18:49] KINGSABRI opened #87 "Add an alias to Header.all method"
Hello there!
It would be more convenient to add an alias to method [`Header.all`](https://github.com/sdaubert/packetgen/blob/ecffc1808211495df6f6991572d00863eb6e9b7c/lib/packetgen/header.rb#L40) to be `Header.list_headers`, or `Header.list`

Also, the comment/document would be more descriptive/obvious if it was
[code]

[2018-07-10 17:22] #87 closed

[2018-08-08 10:12] sdaubert commented on #74
@KINGSABRI #74 adds support for base SMB protocol. Packetgen now may decode/encode SMBv1 base messages (ie Close, Trans, Echo, Negotiate and NtCreateAndX). But some of this messages support subprotocols, and this subprotocols are deep! Have you a specific need on SMB messages? This would help me in navigating in SMB specification.

[2018-08-26 12:53] sdaubert opened #88 "Header::Base.bind_header is messy"
Current beahviour is merely broken: `:op` keyword change how to handle multiple fields. But adding others bindings through others calls to `.bind_header` breaks that as these calls use first defined `:op`, and not operator define by these calls.

[2018-08-26 12:56] sdaubert opened #89 "Add a method to generate a response packet from a request one"
A candidate may be `Packet#reply` to invert all fields that may be inverted in headers to send a response from current packet. Inverted fields may be:

* addresses,
* port numbers,
* request/response flags,
* ...

[2018-08-26 13:06] sdaubert commented on #88
`.bind_header` is messy but cannot break compatibility out of major version.

An idea is to deprecate it and create a new API to bin headers to other ones. This new API should be simpler. First idea:

* on a single call, if there are multiple fields defined, all fileds should match to bind (AND case),
* to define more than one possibility, multiple calls to new API should occur.

#### Examples:

[

[2018-08-26 13:17] KINGSABRI commented on #89
That would be awesome!

[2018-08-26 14:56] sdaubert opened #90 "Packet#dup and Packet#clone do not set magic methods on headers"
[code]

[2018-08-26 15:15] #90 closed

[2018-08-26 20:42] #89 closed

[2018-08-29 13:54] #88 closed

[2018-09-09 18:40] sdaubert commented on #74
@KINGSABRI SMB is a big big big protocol. I think it deserves a gem for itself. And, as PacketGen has a plugin mechanism, I think i will make a SMB plugin for packetgen.
I will test that this week.

[2018-09-09 19:48] KINGSABRI commented on #74
@sdaubert great idea!, why not!
PacketGen big and well written and extendable. Having separate gems for it is really elegant.

[2018-09-15 16:33] sdaubert opened #91 "Packet#add does not set CString fields"
[code]

[2018-09-15 16:34] #91 closed

[2018-09-16 14:32] sdaubert opened #92 "Packet#add does not set IntString fields"
Same as #91 for Types::IntString

[2018-09-16 15:32] #92 closed

[2018-09-21 14:40] #74 closed

[2018-09-23 12:52] sdaubert opened #93 "Remove deprecated methods"
Remove:
* [x] `Header::Base.bind_header` in favor of `Header::Base.bind`,
* [x] `Header::DHCP::DCHPOptions` in favor of `Header::DHCP::DCHP_OPTIONS`
* [x] `Header::DHCP::Option#has_human_types?` in favor of `Header::DHCP::Option#human_types?`
* [x] `Header::DNS::Question#has_type?` in favor of `Header::DNS::Question#type?`
* [x] `Header::Dot11.has_fcs` in favor of `Header::Dot11.fcs?`
* [x] `Heade

[2018-09-23 12:53] sdaubert opened #94 "Move NetBIOS headers to SMB plugin"

[2018-09-23 12:55] sdaubert opened #95 "Move ESP and IKE headers to a new plugin"
Move `Header::ESP` and `Header::IKE` classes to a new plugin `packetgen-plugin-ipsec`.

[2018-09-30 06:43] sdaubert commented on #95
Fixed in 4e9a136

[2018-09-30 06:43] #95 closed

[2018-09-30 10:32] sdaubert commented on #94
Fixed in 5e5109bd

[2018-09-30 10:32] #94 closed

[2018-09-30 16:45] sdaubert opened #97 "Packet#to_w calculates all calculatable fields before sending."
In current version, user has to explicitly call Packet#calc before sending a packet to send a well-formed packet. This is not done automatically to allow user to send malformed packets on wire.

But, in real life, users want to send well-formed packet more often than bad-formed ones.

In future v3.0.0 of PacketGen, Packet#calc will be automatically called, unless user explicitly forbids it.

[2018-10-01 19:33] picatz commented on #97
@sdaubert Awesome!

I appreciate this being taken care of for me, since it's something I often end up forgetting to do myself.

[2018-10-01 19:34] picatz commented on #82
@sdaubert To follow up with you some more on this topic, I believe this protocol would be best suited as a plugin.

[2018-10-02 16:56] sdaubert commented on #82
@picatz yes, i think so :smiley:

[2018-10-03 18:59] sdaubert opened #98 "Simplify Header::Base::Bindings"
Simplify this class when old bind API will be removed

[2018-10-04 19:51] sdaubert commented on #97
Closed by 132ad40.

[2018-10-04 19:51] #97 closed

[2018-10-08 17:09] sdaubert commented on #98
Fixed in 99dbd9e

[2018-10-08 17:09] #98 closed

[2018-10-17 18:55] sdaubert commented on #79
@picatz This one will probably be moved to SMB plugin. Any objection?

[2018-10-18 14:37] picatz commented on #79
@sdaubert I think that should work, though I'm pretty sure LLMR might not only deal with SMB traffic?

I'm not sure if it should be its own plugin. However, I do not have any strong objections to moving this to the SMB plugin, especially if it makes it easier on you. 🙇

[2018-10-18 17:11] sdaubert commented on #79
As i have read, LLMNR is a Microsoft protocol, mainly used by windows. This is why i proposed to put it in SMB plugin.

[2018-10-19 18:21] n00b110 opened #99 "Dot 11 Beacon Packet Not Working Properly"
I'm trying to make a fake access point use ruby. The code for it is below:

    require 'packetgen'

    bssid = 'aa:aa:aa:aa:aa:aa'
    broadcast = 'ff:ff:ff:ff:ff:ff'
    iface = 'mon1'
    ssid = 'PacketGen > PacketFu'

    pkt = PacketGen.gen('RadioTap').add('Dot11::Management', mac1: broadcast, mac2: bssid, mac3:   bssid).add('Dot11::Beacon', interval: 0x600, cap: 0x401)
    pkt.dot11_beacon.

[2018-10-20 09:32] sdaubert commented on #99
@n00b110 I will have a look this week.

I am not a IEEE802.11 expert, but i wonder if a beacon should have DSset and Rates elements set.

[2018-10-20 09:49] sdaubert commented on #99
Well, after a test with your script, i can see your fake AP on my phone, but it appears and disappears.

I added:
[code]

But there is no change...

[2018-10-20 10:00] sdaubert commented on #99
What i do before testing:

[code]

[2018-10-20 15:00] sdaubert commented on #99
@n00b110 Fake AP appears, then disappears quickly because it does not respond to probes. If it does, it is detected by devices.

I modified your script:

[code]

This is quite violent, as this responds to all probe requests, even those for others SSID.

Does this solve your problem?

[2018-10-21 14:54] sdaubert opened #100 "Check plugins with prepare-v3.0.0 branch"
* [x] SMB plugin
* [x] IPsec plugin

[2018-10-21 14:56] sdaubert commented on #93
Fixed in a9509aa

[2018-10-21 14:56] #93 closed

[2018-10-22 03:03] n00b110 commented on #99
@sdaubert I ran your script, and I was able to see the access point on my phone!! Thanks, for your help, but I just have two questions: How am I able to see the ap on my phone but not my linux machine?, and what's the meaning of `interval = (interval_sec / 0.001_024).to_i`; is `0.001_024` a number, I'm a bit confused on that part, but thanks for your help! :)

[2018-10-22 09:01] KINGSABRI commented on #99
Why don't use `:interval` instead of the loop?
[code]

[2018-10-22 09:08] sdaubert commented on #99
`0.001_024` is a number. `_` is used to ease reading. It is used as interval is expressed as a number of Time Units (TU). And a TU is 1024µs.

About seeing AP: I don't known, but i guess linux does some checks. For example, in my script, probe response are broadcasted. It should be cleaner to unicast them to supplicant.

[2018-10-22 09:08] sdaubert commented on #99
@n00b110 Close this as your problem is solved.

[2018-10-22 09:08] #99 closed

[2018-10-22 09:15] sdaubert commented on #99
@n00b110 `0.001_024` is a Float. `_` is used to ease reading (you may use it also in big Integers). It is used as interval should be expressed as anumber of Time Units (TU). And a TU is 1024µs.

About seeing AP: I guess linux does some checks. For example, in my script, probe responses are broadcasted. It should be cleaner to unicast them to supplicant only. And maybe sequence number (#sequence_ct

[2018-10-22 14:16] picatz commented on #79
@sdaubert Sounds good to me. 👍

[2018-10-22 14:16] #79 closed

[2018-10-23 23:54] n00b110 opened #101 "How to get source ip of a captured packet faster?"
require 'packetgen'

    iface = 'wlp2s0'
    pkt = PacketGen.gen("Eth").add("ARP")
    pkt.to_w('wlp2s0')

    puts 'I sent the packet'

    pcap = PacketGen.capture(iface: iface, filter: 'arp', max: 1) do |packet|
	    dst = packet.eth.dst
	    puts dst
	    end

@sdaubert I'm trying to work on a program that gets the source mac address of a captured packet, this isn't the program; its just a te

[2018-10-24 08:41] sdaubert commented on #101
@n00b110 There are several issues with your code:

* Eth nor ARP headers are set. So no one responds to your packet. The one you received a long time after you sent your request is a response to a legitimate request on your network.
* response can arrive before capture is ready: libpcap is not so quick, and ruby layers also add latency.

ARP request is broadcasted, so you have to set your Eth dest

[2018-10-25 16:32] #100 closed

[2018-10-25 22:55] n00b110 commented on #101
Thanks a lot, this solved my problem!

[2018-10-25 22:55] #101 closed

[2018-12-17 19:02] n00b110 opened #103 "Possible mistake in PacketGen::Header::DNS docs"
@sdaubert @picatz I was skimming across the PacketGen::Header::DNS docs, and I came across a possible typo: In the docs, the `dns.opcode` was set to `0xe` which in decimal is equivalent to the number 14. I researched into this and discovered that all opcodes 11-15 are unused. My source is right[ here ](http://www.networksorcery.com/enp/protocol/dns.htm), and the screenshot is below:

![screen shot

[2018-12-18 19:46] sdaubert commented on #103
These are examples to use DNS attribute.

You can set a number to `opcode` which is not defined as a mnemonic. But when you set it as a String, you have to use an existing mnemonic.

This is the same for `rcode` attribute (`refused` is not 0xa value).

Maybe the doc is not explicit enough...

[2018-12-20 19:12] n00b110 commented on #103
@sdaubert So was the `0xe` value set in the docs was just an example, and not an actual query number?

[2018-12-20 19:39] sdaubert commented on #103
@n00b110 an example showing that #opcode may be set as an integer (or as a string as in line below).

But it seems this example is not understandable. I will update it.

[2018-12-20 23:40] n00b110 commented on #103
@sdaubert Thanks!

[2018-12-20 23:40] #103 closed

[2018-12-28 22:56] n00b110 opened #104 "How to get the queried domain name from an DNS request?"
require 'packetgen'

    filter = 'udp and port 53'
    iface = 'wlp2s0'

    cap_thread = Thread.new do
      PacketGen.capture(filter: filter, iface: iface, max: 1) do |pkt|
        puts pkt.dns.qd
      end
    end

    cap_thread.join

@sdaubert  In the code above, I'm trying to parse the domain name from a DNS query, but when ever I run this code I get strange output like `wwwrubydocinfo`

[2018-12-29 12:30] sdaubert commented on #104
@n00b110 DNS names are a list of null-terminated labels. This is wy you get in your stange output. Moreafter, `DNS#qd` returns a `DNS::QDSection`, which is a list of `DNS::Question`.

To cleanly get name, use:

[code]

[2019-01-02 04:31] n00b110 commented on #104
Thanks, but just one more question, on a unrelated note how would I get the mac address from a `Dot11` packet? Thanks for your time!

[2019-01-02 15:33] sdaubert commented on #104
Which MAC address ? destination one or source one, or another one ? There may be up to 4 MAC addresses in a Dot11 packet.

You may use:

[code]

But this is difficult as role of each MAC address changes in function of `#frame_ctrl`.

There are also some shortcuts:

[code]

[2019-01-14 23:14] #104 closed

[2019-01-15 00:41] n00b110 opened #105 "DNS spoofing attack not working?"
@picatz  @sdaubert  I'm trying to perform a DNS spoofing attack on my network, and I can't seem to get it to work can you please help? The code's below:

    require 'packetgen'
    require 'ipaddr'

    def spoof
      iface = 'wlp2s0'
      filter = 'udp and port 53'
      ip = '31.13.93.35' #facebook ip
      PacketGen.capture(iface: iface, filter: filter) do |pkt|
        puts "Found DNS packe

[2019-01-16 15:12] picatz commented on #105
@n00b110 👋

It would probably be better to first perform an [ARP spoof](https://www.rubydoc.info/gems/packetgen/PacketGen/Utils#arp_spoof-class_method) on a target before doing this kind of attack.

If we're trying to avoid that entirely, and just try to craft our own packets super fast, and beat/fool the receiver of the response, then you'd need to do some packet inspection and time the arrivals

[2019-01-16 17:58] sdaubert commented on #105
@n00b110 It cannot work on TCP branch:
[code]
You cannot do that, as #qd is meptu in a freshly created DNS header.

Furthermore, you do not set TCP header (sequence and ack numbers, window, and perhaps flags).

And, as @picatz said, you do a lot of stuff, and you could arrive after real reponse. You should prepare the most things you will need.

[2019-01-19 12:47] sdaubert opened #106 "Assigning a default value to a Types::String field set this field to a Ruby String"
[code]

[2019-01-21 19:12] n00b110 commented on #105
@picatz   Sorry, for this late response, but I have just two questions: Is it possible to arpspoof myself, and if so how would I go about it? Thanks, for your time!

[2019-01-30 15:36] picatz commented on #105
@n00b110 I apologize again for the late response.

An ARP spoof is simply an ARP request on the network wherein usually an attacker sends an ARP packet on the network to trick victim machines into sending their traffic to the attacker so that they can man-in-the-middle the connection between the victim machines and the network's gateway out to the internet. This is possible because each machine ma

[2019-03-21 23:03] n00b110 commented on #105
SO sorry for this late comment, I've been busy. Anyways, I have a few questions: Is it necessary to use my ethernet interface for this? What does `binding.pry` mean? Thanks, and again sorry for this late comment I don't me to bombard you with questions, and thanks for keeping this question open after all this time.

[2019-03-24 19:43] picatz commented on #105
@n00b110 no worries 👍

- I don't believe it's necessary.
- `binding.pry` is basically a point in the code you can set a breakpoint that we can interact with via a REPL that uses [`pry`](https://github.com/pry/pry) -- and `pgconole` uses pry to provide a custom console, if you have it installed. Alternatively, you could use [`binding.irb`](https://blog.bigbinary.com/2017/04/18/binding-irb.html) to

[2019-04-23 22:24] n00b110 commented on #105
Thanks, for the help this really solved my problem. :)

[2019-04-23 22:24] #105 closed

[2019-04-23 22:28] picatz commented on #105
👏 Awesome to hear @n00b110!

[2020-10-31 11:05] sdaubert commented on #62
No news in almost 3 years. Close it.

[2020-10-31 11:05] #62 closed

[2021-03-02 21:10] kylekyle opened #110 "Force install on Ruby 3"
PacketGen 3.1.5 doesn't work on Ruby 3.0.0. I get kwarg errors. I went to file an issue, and saw that this has been fixed in PacketGen 3.1.7. For some reason, I have to force install 3.1.7 on Ruby 3.0.

Any idea why I have to force the install? 3.1.5 works great on Ruby 3.0!

[2021-03-06 15:50] sdaubert commented on #110
@kylekyle Thanks for using Packetgen.

I'm sorry for the late reply.

What do you mean by 'force install'? What is the command you used?

[2021-03-11 17:56] kylekyle commented on #110
If I run

[code]

It installs 3.1.5. If I run

[code]

I get an error because that version lists ruby versions it is comptible with, but excludes ruby 3. If I run

[code]

It installs (and runs) great.

[2021-03-12 14:54] sdaubert commented on #110
@kylekyle I have the same issu here.

This is due to pcaprub dependency:

- packetgen 3.1.5 depends on pcaprub 0.12, which declare a ruby version > 0,
- packetgen 3.1.7 depends on pcaprub 0.13, which declare a ruby version ~> 2.0.

So pcaprub 0.13 cannot install on ruby 3, and so packetgen 3.1.7 (see pcaprub/pcaprub#57).

I will release packetgen 3.1.8 with dependency on pcaprub 0.12 ASAP.

[2021-03-13 17:41] #110 closed

[2021-03-22 20:56] ramakrishnansr opened #112 "Adding HTTP Requests"
When I try to add a HTTP request to my packet using `pkt = PacketGen.gen("IP").add("TCP").add("HTTP::Request")`, I get the following error:
```       7: from /var/lib/gems/2.5.0/gems/packetgen-3.1.8/lib/packetgen/packet.rb:137:in `add'
         6: from /var/lib/gems/2.5.0/gems/packetgen-3.1.8/lib/packetgen/packet.rb:442:in `add_header'
         5: from /var/lib/gems/2.5.0/gems/packetgen-3.1.8/lib/

[2021-03-25 19:09] sdaubert commented on #112
@ramakrishnansr Strings#chars only exists since Ruby 2.6.1. So this is a bug...

[2021-03-26 15:30] sdaubert commented on #112
I spoke too early. This is not a #chars issue but a nil issue.

The binding of HTTP::Header on TCP is buggy as it does not handle adding header, but only parsing it.

[2021-03-26 16:40] #112 closed

[2021-03-26 16:50] #82 closed

[2021-03-30 22:43] Ohnenundra opened #114 "PcapRub_Wrapper"
Tried to run code and got error

Traceback (most recent call last):
	3: from /home/portkey/.gem/ruby/2.7.0/gems/packetgen-3.1.8/lib/packetgen/capture.rb:72:in `block in start'
	2: from /home/portkey/.gem/ruby/2.7.0/gems/packetgen-3.1.8/lib/packetgen/pcaprub_wrapper.rb:55:in `capture'
	1: from /home/portkey/.gem/ruby/2.7.0/gems/packetgen-3.1.8/lib/packetgen/pcaprub_wrapper.rb:38:in `open_iface'
/ho

[2021-03-31 16:29] sdaubert commented on #114
@Ohnenundra You have to be root, or set CAP_NET_RAW and CAP_NET_ADMIN capabilities to the process using pcap library.

[2021-04-01 02:33] Ohnenundra commented on #114
I used sudo and tried setting the capabilites and got the same error.

[2021-04-01 18:53] sdaubert commented on #114
@Ohnenundra please copy your code (the minimum to get error) and your line command to execute it.

[2021-04-01 19:19] Ohnenundra commented on #114
I was testing the code from the medium post.

[code]
I used the command ruby ids.rb and tried sudo ruby ids.rb

I also tried using setcap to changed the capabilites by using the command : sudo setcap cap_net_raw,cap_net_admin+eip

[2021-04-02 16:38] sdaubert commented on #114
I cannot reproduce your problem. Using sudo is fine here.

The error code in your first message (-8) indicates "no permission to open the device". Did you try it as root?

[2021-04-18 13:03] Ohnenundra commented on #114
Tried as root. Now have an error code of -9

[2021-04-18 16:12] sdaubert commented on #114
@Ohnenundra From `/usr/include/pcap/pcap.h`:

[code]

The interface you use is not up. So capture is not possible.

[2021-05-01 06:34] #114 closed

[2022-10-19 13:21] bobfly opened #119 "capture packets from array of interfaces"
Is there a way to capture from multiple interfaces since `iface` param is string?
https://github.com/sdaubert/packetgen/blob/master/lib/packetgen/capture.rb#L30

[2022-10-21 16:10] sdaubert commented on #119
Hi @bobfly, thank you for your interest about Packetgen.

There is no way to capture packets from multiple selected interfaces, as the underlying library (PcapRUB) does not handle it. Nevertheless, a string `any` passed as interface argument enables capturing on **all** interfaces on Linux since kernel 2.2.